# OS files
.DS_Store
Thumbs.db

# GitHub CLI
files/.config/gh/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Neovim
*.swp
*.swo

# Temporary files
*.log
*.tmp
files/.config/fish/fish_variables.bak
files/.config/fish/conf.d/fish_frozen_theme.fish.bak
